main, h1{ padding: 1em;}

h1{
  color: orangered;
}
html{
  background-color: lightgray;
}
ul{
  list-style: none;
}
img{
  height: 10rem;
  border-radius: 30px;
  box-shadow: 10px 5px 5px black;
  width: auto;
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}
